# pnpm v10 + next.js 사용시 vscode의 eslint 플러그인이 동작하지 않는 이슈을 해결하기 위해
# eslint, prettier 관련 패키지들 모두 node_modules 최상위에 위치할 수 있도록 설정
# https://witch.work/ko/posts/blog-eslint-pnpm-bugfix
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*